*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    background-color: #e5e5e5;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    border-radius: 16px;
    background-color: #282D35;
    width: 40%;
}

.header{
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #21222A;
}

.left{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.left > img{
    height: 50px;
}

.left > h1{
    color: #61DAFB;
    font-size: 22px;
}

.header > p{
    color: #DEEBF8;
    font-weight: 600;
}

br{
    width: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
    color: #FFFFFF;
    background-image: url(./images/react-logo-bg.png);
    background-repeat: no-repeat;
    background-position: 155% 30%;
}

.main > h1{
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts{
    padding-left: 2rem;
    margin-bottom: 5rem;
}

.main--facts > li{
    line-height: 19px;
    padding-block: 10px;
    max-width: 60%;
}

.main--facts > li::marker{
    color: #61DAFB;
    font-size: 1.4rem;
}